In [2]:
import pandas as pd
from collections import OrderedDict

In [3]:
data_df = pd.read_excel('./data/data1.xlsx')
data_df.head(10)

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Number</th>
      <th>Name</th>
      <th>Sex</th>
      <th>Age</th>
      <th>Height</th>
      <th>Weight</th>
      <th>BMI</th>
      <th>Fall times in one year</th>
      <th>Fall times in year 2015</th>
      <th>Fall date</th>
      <th>...</th>
      <th>5°.2</th>
      <th>10°</th>
      <th>10°.1</th>
      <th>10°.2</th>
      <th>15°</th>
      <th>15°.1</th>
      <th>15°.2</th>
      <th>High pressure</th>
      <th>Low pressure</th>
      <th>Heart rate</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>1</td>
      <td>liangzhengli</td>
      <td>Male</td>
      <td>69</td>
      <td>162.3</td>
      <td>83.6</td>
      <td>31.737246</td>
      <td>0</td>
      <td>1.0</td>
      <td>2014.12</td>
      <td>...</td>
      <td>NaN</td>
      <td>10.1-10.3</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>15.0-14.8</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>1</th>
      <td>2</td>
      <td>wenyanfang</td>
      <td>Female</td>
      <td>81</td>
      <td>158.2</td>
      <td>57.7</td>
      <td>23.054879</td>
      <td>1</td>
      <td>2.0</td>
      <td>2015.3;2014.8</td>
      <td>...</td>
      <td>NaN</td>
      <td>10</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>15.1</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2</th>
      <td>3</td>
      <td>yangxijin</td>
      <td>Male</td>
      <td>72</td>
      <td>165.4</td>
      <td>66.4</td>
      <td>24.271525</td>
      <td>1</td>
      <td>2.0</td>
      <td>2015.3;2011.12</td>
      <td>...</td>
      <td>NaN</td>
      <td>10.0-10.2</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>15.0-14.9</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>3</th>
      <td>4</td>
      <td>hanwenshan</td>
      <td>Male</td>
      <td>74</td>
      <td>167.6</td>
      <td>61.5</td>
      <td>21.894099</td>
      <td>0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>...</td>
      <td>NaN</td>
      <td>10.3-10.4</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>15.1-15.1</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>4</th>
      <td>5</td>
      <td>hujiawei</td>
      <td>Female</td>
      <td>69</td>
      <td>153.6</td>
      <td>65.3</td>
      <td>27.677748</td>
      <td>0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>...</td>
      <td>NaN</td>
      <td>10.1-10.2</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>15.1-15.2</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>5</th>
      <td>6</td>
      <td>pengguizhu</td>
      <td>Female</td>
      <td>74</td>
      <td>149.3</td>
      <td>59.2</td>
      <td>26.558411</td>
      <td>0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>...</td>
      <td>NaN</td>
      <td>10.2-10.2</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>15.1-15.1</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>6</th>
      <td>7</td>
      <td>wangfulan</td>
      <td>Female</td>
      <td>76</td>
      <td>146.2</td>
      <td>55.0</td>
      <td>25.731668</td>
      <td>0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>...</td>
      <td>NaN</td>
      <td>10.1-10.3</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>15.0-15.1</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>7</th>
      <td>8</td>
      <td>yangwanlin</td>
      <td>Male</td>
      <td>74</td>
      <td>162.5</td>
      <td>65.0</td>
      <td>24.615385</td>
      <td>0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>...</td>
      <td>NaN</td>
      <td>10.1-10.3</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>15.1-15.1</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>8</th>
      <td>9</td>
      <td>baiyulin</td>
      <td>Male</td>
      <td>66</td>
      <td>164.8</td>
      <td>73.1</td>
      <td>26.915532</td>
      <td>0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>...</td>
      <td>NaN</td>
      <td>10.2-10.4</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>15.0-14.9</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>9</th>
      <td>10</td>
      <td>guodafa</td>
      <td>Male</td>
      <td>70</td>
      <td>166.6</td>
      <td>64.1</td>
      <td>23.094472</td>
      <td>0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>...</td>
      <td>NaN</td>
      <td>10.2-10.3</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>15.0-15.0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
  </tbody>
</table>
<p>10 rows × 50 columns</p>
</div>

## 可能对平衡能力有影响的因素
1. Sex：性别
2. Height：身高
3. Weight：体重
4. BMI：健康指数
5. Fall times：摔跤次数
6. Complaint：患病情况
7. Aid by hand or not：是否需要人扶

* High pressure,Low pressure, 'Heart rate'这三列前50个样本没有数据，不可能直接用
* 比较完整的数据列有Fall times in one year，Complaint，Force platform，Staircase ，Aid by hand or not
* Aid by hand or not三列数据基本一样，可以只用一列
* Staircase表示上楼梯的脚，如果交叉则表示正常，否则视为不正常，但是在74组数据中，只有大约11组是正常的
* Force platform：力平台，如果将交叉视为正常，则大概有20组数据是正常的
* 虽然正常的数据很少，但是经过统计Force platform和Staircase是有关联
* 常见的疾病有
     * Bone fracture history : 22
     * anoxia : 10
     * CVD : 11
     * visual impairment unadjustable by lenses : 15
     * hypertension : 38
     * Osteoporosis : 27

In [4]:
data_df[['Force platform #1', 'Force platform #2','Force platform #3', 'Staircase 1','Staircase 2','Staircase 3']]

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Force platform #1</th>
      <th>Force platform #2</th>
      <th>Force platform #3</th>
      <th>Staircase 1</th>
      <th>Staircase 2</th>
      <th>Staircase 3</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>left</td>
      <td>left</td>
      <td>left</td>
      <td>left</td>
      <td>left</td>
      <td>left</td>
    </tr>
    <tr>
      <th>1</th>
      <td>right</td>
      <td>left</td>
      <td>right</td>
      <td>left</td>
      <td>left</td>
      <td>left</td>
    </tr>
    <tr>
      <th>2</th>
      <td>left</td>
      <td>left</td>
      <td>left</td>
      <td>right</td>
      <td>right</td>
      <td>right</td>
    </tr>
    <tr>
      <th>3</th>
      <td>right</td>
      <td>left</td>
      <td>right</td>
      <td>left</td>
      <td>right</td>
      <td>left</td>
    </tr>
    <tr>
      <th>4</th>
      <td>right</td>
      <td>right</td>
      <td>right</td>
      <td>right</td>
      <td>left</td>
      <td>left</td>
    </tr>
    <tr>
      <th>5</th>
      <td>right</td>
      <td>right</td>
      <td>right</td>
      <td>left</td>
      <td>right</td>
      <td>right</td>
    </tr>
    <tr>
      <th>6</th>
      <td>right</td>
      <td>left</td>
      <td>left</td>
      <td>left</td>
      <td>right</td>
      <td>left</td>
    </tr>
    <tr>
      <th>7</th>
      <td>left</td>
      <td>left</td>
      <td>left</td>
      <td>left</td>
      <td>right</td>
      <td>left</td>
    </tr>
    <tr>
      <th>8</th>
      <td>right</td>
      <td>right</td>
      <td>right</td>
      <td>right</td>
      <td>right</td>
      <td>left</td>
    </tr>
    <tr>
      <th>9</th>
      <td>left</td>
      <td>left</td>
      <td>left</td>
      <td>left</td>
      <td>right</td>
      <td>right</td>
    </tr>
    <tr>
      <th>10</th>
      <td>right</td>
      <td>left</td>
      <td>left</td>
      <td>left</td>
      <td>left</td>
      <td>left</td>
    </tr>
    <tr>
      <th>11</th>
      <td>right</td>
      <td>left</td>
      <td>right</td>
      <td>left</td>
      <td>right</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>12</th>
      <td>left</td>
      <td>right</td>
      <td>right</td>
      <td>left</td>
      <td>right</td>
      <td>left</td>
    </tr>
    <tr>
      <th>13</th>
      <td>left</td>
      <td>left</td>
      <td>left</td>
      <td>right</td>
      <td>right</td>
      <td>left</td>
    </tr>
    <tr>
      <th>14</th>
      <td>left</td>
      <td>left</td>
      <td>left</td>
      <td>right</td>
      <td>right</td>
      <td>right</td>
    </tr>
    <tr>
      <th>15</th>
      <td>left</td>
      <td>right</td>
      <td>right</td>
      <td>right</td>
      <td>right</td>
      <td>right</td>
    </tr>
    <tr>
      <th>16</th>
      <td>left</td>
      <td>left</td>
      <td>right</td>
      <td>left</td>
      <td>left</td>
      <td>left</td>
    </tr>
    <tr>
      <th>17</th>
      <td>left</td>
      <td>right</td>
      <td>left</td>
      <td>right</td>
      <td>left</td>
      <td>left</td>
    </tr>
    <tr>
      <th>18</th>
      <td>right</td>
      <td>right</td>
      <td>NaN</td>
      <td>left</td>
      <td>right</td>
      <td>right</td>
    </tr>
    <tr>
      <th>19</th>
      <td>right</td>
      <td>right</td>
      <td>right</td>
      <td>right</td>
      <td>right</td>
      <td>right</td>
    </tr>
    <tr>
      <th>20</th>
      <td>right</td>
      <td>right</td>
      <td>right</td>
      <td>right</td>
      <td>right</td>
      <td>left</td>
    </tr>
    <tr>
      <th>21</th>
      <td>left</td>
      <td>right</td>
      <td>right</td>
      <td>left</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>22</th>
      <td>left</td>
      <td>right</td>
      <td>right</td>
      <td>right</td>
      <td>right</td>
      <td>right</td>
    </tr>
    <tr>
      <th>23</th>
      <td>right</td>
      <td>left</td>
      <td>left</td>
      <td>right</td>
      <td>right</td>
      <td>right</td>
    </tr>
    <tr>
      <th>24</th>
      <td>left</td>
      <td>right</td>
      <td>left</td>
      <td>left</td>
      <td>left</td>
      <td>left</td>
    </tr>
    <tr>
      <th>25</th>
      <td>left</td>
      <td>left</td>
      <td>left</td>
      <td>left</td>
      <td>left</td>
      <td>left</td>
    </tr>
    <tr>
      <th>26</th>
      <td>left</td>
      <td>right</td>
      <td>left</td>
      <td>right</td>
      <td>right</td>
      <td>right</td>
    </tr>
    <tr>
      <th>27</th>
      <td>left</td>
      <td>right</td>
      <td>right</td>
      <td>right</td>
      <td>left</td>
      <td>left</td>
    </tr>
    <tr>
      <th>28</th>
      <td>right</td>
      <td>right</td>
      <td>left</td>
      <td>left</td>
      <td>left</td>
      <td>left</td>
    </tr>
    <tr>
      <th>29</th>
      <td>left</td>
      <td>left</td>
      <td>left</td>
      <td>left</td>
      <td>left</td>
      <td>left</td>
    </tr>
    <tr>
      <th>...</th>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
    </tr>
    <tr>
      <th>50</th>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>51</th>
      <td>left</td>
      <td>left</td>
      <td>left</td>
      <td>left</td>
      <td>left</td>
      <td>right</td>
    </tr>
    <tr>
      <th>52</th>
      <td>right</td>
      <td>right</td>
      <td>right</td>
      <td>left</td>
      <td>left</td>
      <td>right</td>
    </tr>
    <tr>
      <th>53</th>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>54</th>
      <td>left</td>
      <td>left</td>
      <td>left</td>
      <td>right</td>
      <td>right</td>
      <td>right</td>
    </tr>
    <tr>
      <th>55</th>
      <td>left</td>
      <td>left</td>
      <td>right</td>
      <td>right</td>
      <td>left</td>
      <td>left</td>
    </tr>
    <tr>
      <th>56</th>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>left</td>
      <td>left</td>
      <td>left</td>
    </tr>
    <tr>
      <th>57</th>
      <td>left</td>
      <td>left</td>
      <td>left</td>
      <td>right</td>
      <td>right</td>
      <td>right</td>
    </tr>
    <tr>
      <th>58</th>
      <td>right</td>
      <td>left</td>
      <td>left</td>
      <td>left</td>
      <td>left</td>
      <td>left</td>
    </tr>
    <tr>
      <th>59</th>
      <td>right</td>
      <td>left</td>
      <td>left</td>
      <td>right</td>
      <td>right</td>
      <td>right</td>
    </tr>
    <tr>
      <th>60</th>
      <td>left</td>
      <td>left</td>
      <td>left</td>
      <td>left</td>
      <td>right</td>
      <td>right</td>
    </tr>
    <tr>
      <th>61</th>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>left</td>
      <td>left</td>
      <td>left</td>
    </tr>
    <tr>
      <th>62</th>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>right</td>
      <td>right</td>
      <td>right</td>
    </tr>
    <tr>
      <th>63</th>
      <td>right</td>
      <td>right</td>
      <td>right</td>
      <td>right</td>
      <td>right</td>
      <td>right</td>
    </tr>
    <tr>
      <th>64</th>
      <td>right</td>
      <td>left</td>
      <td>left</td>
      <td>right</td>
      <td>right</td>
      <td>right</td>
    </tr>
    <tr>
      <th>65</th>
      <td>right</td>
      <td>left</td>
      <td>right</td>
      <td>right</td>
      <td>left</td>
      <td>right</td>
    </tr>
    <tr>
      <th>66</th>
      <td>right</td>
      <td>right</td>
      <td>left</td>
      <td>right</td>
      <td>right</td>
      <td>right</td>
    </tr>
    <tr>
      <th>67</th>
      <td>left</td>
      <td>left</td>
      <td>left</td>
      <td>right</td>
      <td>right</td>
      <td>right</td>
    </tr>
    <tr>
      <th>68</th>
      <td>left</td>
      <td>right</td>
      <td>left</td>
      <td>right</td>
      <td>right</td>
      <td>right</td>
    </tr>
    <tr>
      <th>69</th>
      <td>left</td>
      <td>left</td>
      <td>right</td>
      <td>left</td>
      <td>left</td>
      <td>left</td>
    </tr>
    <tr>
      <th>70</th>
      <td>left</td>
      <td>right</td>
      <td>right</td>
      <td>left</td>
      <td>right</td>
      <td>left</td>
    </tr>
    <tr>
      <th>71</th>
      <td>left</td>
      <td>left</td>
      <td>left</td>
      <td>left</td>
      <td>left</td>
      <td>left</td>
    </tr>
    <tr>
      <th>72</th>
      <td>right</td>
      <td>left</td>
      <td>right</td>
      <td>left</td>
      <td>right</td>
      <td>left</td>
    </tr>
    <tr>
      <th>73</th>
      <td>left</td>
      <td>right</td>
      <td>left</td>
      <td>left</td>
      <td>right</td>
      <td>left</td>
    </tr>
    <tr>
      <th>74</th>
      <td>left</td>
      <td>right</td>
      <td>left</td>
      <td>left</td>
      <td>left</td>
      <td>left</td>
    </tr>
    <tr>
      <th>75</th>
      <td>left</td>
      <td>left</td>
      <td>left</td>
      <td>right</td>
      <td>right</td>
      <td>left</td>
    </tr>
    <tr>
      <th>76</th>
      <td>left</td>
      <td>left</td>
      <td>left</td>
      <td>right</td>
      <td>right</td>
      <td>right</td>
    </tr>
    <tr>
      <th>77</th>
      <td>left</td>
      <td>left</td>
      <td>left</td>
      <td>right</td>
      <td>left</td>
      <td>right</td>
    </tr>
    <tr>
      <th>78</th>
      <td>right</td>
      <td>right</td>
      <td>right</td>
      <td>right</td>
      <td>right</td>
      <td>right</td>
    </tr>
    <tr>
      <th>79</th>
      <td>left</td>
      <td>left</td>
      <td>right</td>
      <td>left</td>
      <td>right</td>
      <td>right</td>
    </tr>
  </tbody>
</table>
<p>80 rows × 6 columns</p>
</div>

In [5]:
data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 80 entries, 0 to 79
Data columns (total 50 columns):
Number                                      80 non-null int64
Name                                        80 non-null object
Sex                                         80 non-null object
Age                                         80 non-null int64
Height                                      80 non-null float64
Weight                                      80 non-null float64
BMI                                         80 non-null float64
Fall times in one year                      80 non-null int64
Fall times in year 2015                     16 non-null float64
Fall date                                   18 non-null object
CVD                                         17 non-null float64
Hypertension                                38 non-null float64
Osteoporosis                                27 non-null float64
Bone fracture history                       23 non-null float64
Visual impairment unadjustable by lenses    16 non-null float64
Drug/alcohol withdrawal symptom             13 non-null float64
Anoxia                                      13 non-null float64
Sarcopenia                                  9 non-null float64
Neuropathic disorder                        2 non-null float64
Vestibular disorder                         3 non-null float64
Head trauma                                 2 non-null float64
Complaint                                   80 non-null object
Lead leg                                    80 non-null object
Force platform #1                           74 non-null object
Force platform #2                           74 non-null object
Force platform #3                           73 non-null object
Staircase 1                                 77 non-null object
Aid by hand or not                          76 non-null object
Staircase 2                                 76 non-null object
Aid by hand or not.1                        75 non-null object
Staircase 3                                 75 non-null object
Aid by hand or not.2                        74 non-null object
0°                                          65 non-null object
0°.1                                        47 non-null object
0°.2                                        48 non-null object
3°                                          73 non-null object
3°.1                                        47 non-null object
3°.2                                        47 non-null object
5°                                          76 non-null object
5°.1                                        49 non-null object
5°.2                                        49 non-null object
10°                                         76 non-null object
10°.1                                       49 non-null object
10°.2                                       49 non-null object
15°                                         74 non-null object
15°.1                                       49 non-null object
15°.2                                       49 non-null object
High pressure                               44 non-null float64
Low pressure                                44 non-null float64
Heart rate                                  44 non-null float64
dtypes: float64(18), int64(3), object(29)
memory usage: 31.3+ KB

### Force platform 和 Staircase 的关系

添加新列staircase_cross,force_platform

In [6]:
#create new column staircase_cross and force_platform
data_df['staircase_cross'] = pd.Series([0]*len(data_df))
data_df['force_platform'] = pd.Series([0]*len(data_df))
#add data
data_df.loc[((data_df['Staircase 1']!=data_df['Staircase 2']) &
        (data_df['Staircase 2']!=data_df['Staircase 3'])),'staircase_cross']=1
data_df.loc[((data_df['Force platform #1']!=data_df['Force platform #2']) &
        (data_df['Force platform #2']!=data_df['Force platform #3'])),'force_platform']=1

staircase_cross,force_platform之间的关系

In [7]:
data_df[['staircase_cross','force_platform']].groupby(
    'staircase_cross',as_index=False).mean().sort_values(by='staircase_cross', ascending=False)

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>staircase_cross</th>
      <th>force_platform</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>1</td>
      <td>0.500000</td>
    </tr>
    <tr>
      <th>0</th>
      <td>0</td>
      <td>0.203125</td>
    </tr>
  </tbody>
</table>
</div>

In [8]:
data_df[['staircase_cross','force_platform']].groupby(
    'force_platform',as_index=False).mean().sort_values(by='force_platform', ascending=False)

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>force_platform</th>
      <th>staircase_cross</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>1</td>
      <td>0.380952</td>
    </tr>
    <tr>
      <th>0</th>
      <td>0</td>
      <td>0.135593</td>
    </tr>
  </tbody>
</table>
</div>

In [9]:
data_df[['staircase_cross','Fall times in one year']].groupby(
    'staircase_cross',as_index=False).mean().sort_values(by='staircase_cross', ascending=False)

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>staircase_cross</th>
      <th>Fall times in one year</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>1</td>
      <td>0.187500</td>
    </tr>
    <tr>
      <th>0</th>
      <td>0</td>
      <td>0.203125</td>
    </tr>
  </tbody>
</table>
</div>

In [10]:
data_df[['force_platform','Fall times in one year']].groupby(
    'force_platform',as_index=False).mean().sort_values(by='force_platform', ascending=False)

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>force_platform</th>
      <th>Fall times in one year</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>1</td>
      <td>0.142857</td>
    </tr>
    <tr>
      <th>0</th>
      <td>0</td>
      <td>0.220339</td>
    </tr>
  </tbody>
</table>
</div>

Aid by hand or not1，Aid by hand or not2，Aid by hand or not3基本上是一样的，只需要考虑一列就够了

In [11]:
data_df[(data_df['Aid by hand or not']!='no') 
        & (data_df['Aid by hand or not.1']!='no') 
        & (data_df['Aid by hand or not.2']!='no')][['Aid by hand or not','Aid by hand or not.1','Aid by hand or not.2']]

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Aid by hand or not</th>
      <th>Aid by hand or not.1</th>
      <th>Aid by hand or not.2</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>6</th>
      <td>Helped upstairs and downstairs</td>
      <td>Helped upstairs and downstairs</td>
      <td>Helped upstairs and downstairs</td>
    </tr>
    <tr>
      <th>24</th>
      <td>Helped downstairs</td>
      <td>Helped upstairs and downstairs</td>
      <td>Helped upstairs and downstairs</td>
    </tr>
    <tr>
      <th>33</th>
      <td>Helped downstairs</td>
      <td>Helped upstairs and downstairs</td>
      <td>Helped upstairs and downstairs</td>
    </tr>
    <tr>
      <th>40</th>
      <td>Helped upstairs and downstairs</td>
      <td>Helped upstairs and downstairs</td>
      <td>Helped upstairs and downstairs</td>
    </tr>
    <tr>
      <th>44</th>
      <td>Helped upstairs and downstairs. Guided downsta...</td>
      <td>Helped upstairs and downstairs. Guided downsta...</td>
      <td>Helped upstairs and downstairs. Guided downsta...</td>
    </tr>
    <tr>
      <th>48</th>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>50</th>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>53</th>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>62</th>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
  </tbody>
</table>
</div>

### 患病情况Complaint
对各种疾病的患病人数的统计分析
* Bone fracture history 骨折历史: 22
* visual impairment unadjustable by lenses 视力障碍: 15
* hypertension 高血压: 38
* Osteoporosis 骨质疏松症: 27

由于患病不患病只有两类情况，分组之后总是两组数据总是有一定差距

In [12]:
data_df[['Complaint']].head(10)

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Complaint</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>CVD, hypertension, drug/alcohol withdrawal sym...</td>
    </tr>
    <tr>
      <th>1</th>
      <td>Osteoporosis, bone fracture history, CVD, hype...</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Bone fracture history, hypertension, drug/alco...</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Hypertension, drug/alcohol withdrawal symptoms</td>
    </tr>
    <tr>
      <th>4</th>
      <td>Bone fracture history, visual impairment unadj...</td>
    </tr>
    <tr>
      <th>5</th>
      <td>Osteoporosis, CVD, anoxia</td>
    </tr>
    <tr>
      <th>6</th>
      <td>Hypertension</td>
    </tr>
    <tr>
      <th>7</th>
      <td>Sarcopenia, CVD, hypertension, drug/alcohol wi...</td>
    </tr>
    <tr>
      <th>8</th>
      <td>Bone fracture history, drug/alcohol withdrawal...</td>
    </tr>
    <tr>
      <th>9</th>
      <td>None</td>
    </tr>
  </tbody>
</table>
</div>

In [31]:
new_df[['Bone fracture history','Fall times in one year']].groupby(
    'Bone fracture history',as_index=False).mean().sort_values(by='Bone fracture history', ascending=False)

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Bone fracture history</th>
      <th>Fall times in one year</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>1.0</td>
      <td>0.260870</td>
    </tr>
    <tr>
      <th>0</th>
      <td>0.0</td>
      <td>0.175439</td>
    </tr>
  </tbody>
</table>
</div>

In [32]:
new_df[['Visual impairment unadjustable by lenses','Fall times in one year']].groupby(
    'Visual impairment unadjustable by lenses',as_index=False).mean().sort_values(by='Visual impairment unadjustable by lenses', ascending=False)

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Visual impairment unadjustable by lenses</th>
      <th>Fall times in one year</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>1.0</td>
      <td>0.187500</td>
    </tr>
    <tr>
      <th>0</th>
      <td>0.0</td>
      <td>0.203125</td>
    </tr>
  </tbody>
</table>
</div>

In [33]:
new_df[['Hypertension','Fall times in one year']].groupby(
    'Hypertension',as_index=False).mean().sort_values(by='Hypertension', ascending=False)

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Hypertension</th>
      <th>Fall times in one year</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>1.0</td>
      <td>0.157895</td>
    </tr>
    <tr>
      <th>0</th>
      <td>0.0</td>
      <td>0.238095</td>
    </tr>
  </tbody>
</table>
</div>

In [34]:
new_df[['Osteoporosis','Fall times in one year']].groupby(
    'Osteoporosis',as_index=False).mean().sort_values(by='Osteoporosis', ascending=False)

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Osteoporosis</th>
      <th>Fall times in one year</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>1.0</td>
      <td>0.148148</td>
    </tr>
    <tr>
      <th>0</th>
      <td>0.0</td>
      <td>0.226415</td>
    </tr>
  </tbody>
</table>
</div>

In [13]:
complaint_list = data_df['Complaint'].tolist()
complaint_dic = {}
for i in range(len(complaint_list)):
    str_list = complaint_list[i].split(',')
    for str in str_list:
        if complaint_dic.get(str) is None:
            complaint_dic[str]=1
        else:
            complaint_dic[str] = complaint_dic[str]+1

In [14]:
new_df = data_df.copy()[['Sex','Age','Height','Weight','BMI',
                         'Fall times in one year','Aid by hand or not','staircase_cross','force_platform',
                         'Bone fracture history','Hypertension','Osteoporosis',
                         'Visual impairment unadjustable by lenses']]
new_df.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Sex</th>
      <th>Age</th>
      <th>Height</th>
      <th>Weight</th>
      <th>BMI</th>
      <th>Fall times in one year</th>
      <th>Aid by hand or not</th>
      <th>staircase_cross</th>
      <th>force_platform</th>
      <th>Bone fracture history</th>
      <th>Hypertension</th>
      <th>Osteoporosis</th>
      <th>Visual impairment unadjustable by lenses</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Male</td>
      <td>69</td>
      <td>162.3</td>
      <td>83.6</td>
      <td>31.737246</td>
      <td>0</td>
      <td>no</td>
      <td>0</td>
      <td>0</td>
      <td>NaN</td>
      <td>1.0</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>1</th>
      <td>Female</td>
      <td>81</td>
      <td>158.2</td>
      <td>57.7</td>
      <td>23.054879</td>
      <td>1</td>
      <td>no</td>
      <td>0</td>
      <td>1</td>
      <td>1.0</td>
      <td>1.0</td>
      <td>1.0</td>
      <td>1.0</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Male</td>
      <td>72</td>
      <td>165.4</td>
      <td>66.4</td>
      <td>24.271525</td>
      <td>1</td>
      <td>no</td>
      <td>0</td>
      <td>0</td>
      <td>1.0</td>
      <td>1.0</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Male</td>
      <td>74</td>
      <td>167.6</td>
      <td>61.5</td>
      <td>21.894099</td>
      <td>0</td>
      <td>no</td>
      <td>1</td>
      <td>1</td>
      <td>1.0</td>
      <td>1.0</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>4</th>
      <td>Female</td>
      <td>69</td>
      <td>153.6</td>
      <td>65.3</td>
      <td>27.677748</td>
      <td>0</td>
      <td>no</td>
      <td>0</td>
      <td>0</td>
      <td>1.0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>1.0</td>
    </tr>
  </tbody>
</table>
</div>

补全空缺数据

In [15]:
new_df['Bone fracture history'] = new_df['Bone fracture history'].fillna(0)
new_df['Hypertension'] = new_df['Hypertension'].fillna(0)
new_df['Osteoporosis'] = new_df['Osteoporosis'].fillna(0)
new_df['Visual impairment unadjustable by lenses'] = new_df['Visual impairment unadjustable by lenses'].fillna(0)
new_df['Aid by hand or not'] = new_df['Aid by hand or not'].fillna('no')

替换非数字型数据
1. 性别
2. Aid by hand or not

In [16]:
new_df['Sex'] = new_df['Sex'].replace('Male',1)
new_df['Sex'] = new_df['Sex'].replace('Female',0)
new_df['Aid by hand or not'] = new_df['Aid by hand or not'].replace('no',0)
new_df.loc[(new_df['Aid by hand or not']!=0),'Aid by hand or not']=1

### 连续数据分组
1. 身高按照140-150，150-160，160-170，170-180分组
2. 体重按照50-60，60-70，70-80，>80分组
3. 年龄按照<60,60-70,70-80,>80分组
4. BMI按照<18.5,18.5-23.9,24-27,28-32,>32分组（按照标准）

In [17]:
new_df.describe(percentiles=[.10,.20,.30,.40,.60,.70,.80,.90,.95])

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Sex</th>
      <th>Age</th>
      <th>Height</th>
      <th>Weight</th>
      <th>BMI</th>
      <th>Fall times in one year</th>
      <th>Aid by hand or not</th>
      <th>staircase_cross</th>
      <th>force_platform</th>
      <th>Bone fracture history</th>
      <th>Hypertension</th>
      <th>Osteoporosis</th>
      <th>Visual impairment unadjustable by lenses</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>count</th>
      <td>80.000000</td>
      <td>80.000000</td>
      <td>80.00000</td>
      <td>80.000000</td>
      <td>80.000000</td>
      <td>80.000000</td>
      <td>80.000000</td>
      <td>80.000000</td>
      <td>80.000000</td>
      <td>80.000000</td>
      <td>80.000000</td>
      <td>80.00000</td>
      <td>80.000000</td>
    </tr>
    <tr>
      <th>mean</th>
      <td>0.425000</td>
      <td>68.725000</td>
      <td>159.75250</td>
      <td>65.608500</td>
      <td>25.646976</td>
      <td>0.200000</td>
      <td>0.112500</td>
      <td>0.200000</td>
      <td>0.262500</td>
      <td>0.287500</td>
      <td>0.475000</td>
      <td>0.33750</td>
      <td>0.200000</td>
    </tr>
    <tr>
      <th>std</th>
      <td>0.497462</td>
      <td>6.940935</td>
      <td>8.41665</td>
      <td>12.082929</td>
      <td>3.816649</td>
      <td>0.513119</td>
      <td>0.317974</td>
      <td>0.402524</td>
      <td>0.442769</td>
      <td>0.455452</td>
      <td>0.502525</td>
      <td>0.47584</td>
      <td>0.402524</td>
    </tr>
    <tr>
      <th>min</th>
      <td>0.000000</td>
      <td>54.000000</td>
      <td>140.30000</td>
      <td>39.800000</td>
      <td>17.736154</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.00000</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>10%</th>
      <td>0.000000</td>
      <td>60.900000</td>
      <td>148.18000</td>
      <td>52.870000</td>
      <td>21.436467</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.00000</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>20%</th>
      <td>0.000000</td>
      <td>63.000000</td>
      <td>151.10000</td>
      <td>57.000000</td>
      <td>22.544676</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.00000</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>30%</th>
      <td>0.000000</td>
      <td>65.000000</td>
      <td>154.00000</td>
      <td>59.000000</td>
      <td>23.845884</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.00000</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>40%</th>
      <td>0.000000</td>
      <td>66.000000</td>
      <td>157.08000</td>
      <td>61.200000</td>
      <td>24.531750</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.00000</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>50%</th>
      <td>0.000000</td>
      <td>67.000000</td>
      <td>161.80000</td>
      <td>63.950000</td>
      <td>25.790109</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.00000</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>60%</th>
      <td>1.000000</td>
      <td>69.400000</td>
      <td>163.14000</td>
      <td>65.300000</td>
      <td>26.355734</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>1.000000</td>
      <td>0.00000</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>70%</th>
      <td>1.000000</td>
      <td>71.300000</td>
      <td>165.26000</td>
      <td>71.050000</td>
      <td>27.362114</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>1.000000</td>
      <td>1.00000</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>80%</th>
      <td>1.000000</td>
      <td>75.200000</td>
      <td>166.98000</td>
      <td>74.220000</td>
      <td>28.152818</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.200000</td>
      <td>1.000000</td>
      <td>1.000000</td>
      <td>1.000000</td>
      <td>1.00000</td>
      <td>0.200000</td>
    </tr>
    <tr>
      <th>90%</th>
      <td>1.000000</td>
      <td>78.100000</td>
      <td>170.05000</td>
      <td>79.520000</td>
      <td>29.411333</td>
      <td>1.000000</td>
      <td>1.000000</td>
      <td>1.000000</td>
      <td>1.000000</td>
      <td>1.000000</td>
      <td>1.000000</td>
      <td>1.00000</td>
      <td>1.000000</td>
    </tr>
    <tr>
      <th>95%</th>
      <td>1.000000</td>
      <td>81.000000</td>
      <td>172.50000</td>
      <td>83.805000</td>
      <td>31.762926</td>
      <td>1.000000</td>
      <td>1.000000</td>
      <td>1.000000</td>
      <td>1.000000</td>
      <td>1.000000</td>
      <td>1.000000</td>
      <td>1.00000</td>
      <td>1.000000</td>
    </tr>
    <tr>
      <th>max</th>
      <td>1.000000</td>
      <td>89.000000</td>
      <td>178.90000</td>
      <td>119.280000</td>
      <td>41.031639</td>
      <td>3.000000</td>
      <td>1.000000</td>
      <td>1.000000</td>
      <td>1.000000</td>
      <td>1.000000</td>
      <td>1.000000</td>
      <td>1.00000</td>
      <td>1.000000</td>
    </tr>
  </tbody>
</table>
</div>

In [18]:
new_df['new_age'] = pd.Series([0]*len(data_df))
new_df['new_height'] = pd.Series([0]*len(data_df))
new_df['new_weight'] = pd.Series([0]*len(data_df))
new_df.loc[new_df['Age']<60,'new_age'] = 0
new_df.loc[((new_df['Age']>=60) & (new_df['Age']<70)),'new_age'] = 1
new_df.loc[(new_df['Age']>=70) & (new_df['Age']<80),'new_age'] = 3
new_df.loc[new_df['Age']>=80,'new_age'] = 2
new_df.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Sex</th>
      <th>Age</th>
      <th>Height</th>
      <th>Weight</th>
      <th>BMI</th>
      <th>Fall times in one year</th>
      <th>Aid by hand or not</th>
      <th>staircase_cross</th>
      <th>force_platform</th>
      <th>Bone fracture history</th>
      <th>Hypertension</th>
      <th>Osteoporosis</th>
      <th>Visual impairment unadjustable by lenses</th>
      <th>new_age</th>
      <th>new_height</th>
      <th>new_weight</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>1</td>
      <td>69</td>
      <td>162.3</td>
      <td>83.6</td>
      <td>31.737246</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0.0</td>
      <td>1.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>1</th>
      <td>0</td>
      <td>81</td>
      <td>158.2</td>
      <td>57.7</td>
      <td>23.054879</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>1.0</td>
      <td>1.0</td>
      <td>1.0</td>
      <td>1.0</td>
      <td>2</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>2</th>
      <td>1</td>
      <td>72</td>
      <td>165.4</td>
      <td>66.4</td>
      <td>24.271525</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1.0</td>
      <td>1.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>3</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>3</th>
      <td>1</td>
      <td>74</td>
      <td>167.6</td>
      <td>61.5</td>
      <td>21.894099</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>1</td>
      <td>1.0</td>
      <td>1.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>3</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>4</th>
      <td>0</td>
      <td>69</td>
      <td>153.6</td>
      <td>65.3</td>
      <td>27.677748</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>1.0</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
    </tr>
  </tbody>
</table>
</div>

#### 年龄和Fall times in one year之间的关系
1. 年龄越大基本上越容易摔跤
2. 年龄段在70-80之间是最容易摔跤的

In [19]:
new_df[['new_age','Fall times in one year']].groupby(
    'new_age',as_index=False).mean().sort_values(by='new_age', ascending=False)

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>new_age</th>
      <th>Fall times in one year</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>3</th>
      <td>3</td>
      <td>0.400000</td>
    </tr>
    <tr>
      <th>2</th>
      <td>2</td>
      <td>0.142857</td>
    </tr>
    <tr>
      <th>1</th>
      <td>1</td>
      <td>0.113636</td>
    </tr>
    <tr>
      <th>0</th>
      <td>0</td>
      <td>0.000000</td>
    </tr>
  </tbody>
</table>
</div>

#### BMI和Fall times in one year之间的关系
1. 发现BMI正常的人竟然是摔跤次数最多的？
2. 过度肥胖的人竟然没有摔过跤

In [20]:
new_df.loc[new_df['BMI']<18.5,'new_bmi'] = 1#过轻：低于18.5
new_df.loc[((new_df['BMI']>=18.5) & (new_df['BMI']<24)),'new_bmi'] = 2#正常：18.5-23.9
new_df.loc[((new_df['BMI']>=24) & (new_df['BMI']<28)),'new_bmi'] = 3#过重：24-27
new_df.loc[(new_df['BMI']>=28) & (new_df['BMI']<32),'new_bmi'] = 4#肥胖：28-32
new_df.loc[new_df['BMI']>32,'new_bmi'] = 5#非常肥胖, 高于32
new_df.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Sex</th>
      <th>Age</th>
      <th>Height</th>
      <th>Weight</th>
      <th>BMI</th>
      <th>Fall times in one year</th>
      <th>Aid by hand or not</th>
      <th>staircase_cross</th>
      <th>force_platform</th>
      <th>Bone fracture history</th>
      <th>Hypertension</th>
      <th>Osteoporosis</th>
      <th>Visual impairment unadjustable by lenses</th>
      <th>new_age</th>
      <th>new_height</th>
      <th>new_weight</th>
      <th>new_bmi</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>1</td>
      <td>69</td>
      <td>162.3</td>
      <td>83.6</td>
      <td>31.737246</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0.0</td>
      <td>1.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>4.0</td>
    </tr>
    <tr>
      <th>1</th>
      <td>0</td>
      <td>81</td>
      <td>158.2</td>
      <td>57.7</td>
      <td>23.054879</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>1.0</td>
      <td>1.0</td>
      <td>1.0</td>
      <td>1.0</td>
      <td>2</td>
      <td>0</td>
      <td>0</td>
      <td>2.0</td>
    </tr>
    <tr>
      <th>2</th>
      <td>1</td>
      <td>72</td>
      <td>165.4</td>
      <td>66.4</td>
      <td>24.271525</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1.0</td>
      <td>1.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>3</td>
      <td>0</td>
      <td>0</td>
      <td>3.0</td>
    </tr>
    <tr>
      <th>3</th>
      <td>1</td>
      <td>74</td>
      <td>167.6</td>
      <td>61.5</td>
      <td>21.894099</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>1</td>
      <td>1.0</td>
      <td>1.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>3</td>
      <td>0</td>
      <td>0</td>
      <td>2.0</td>
    </tr>
    <tr>
      <th>4</th>
      <td>0</td>
      <td>69</td>
      <td>153.6</td>
      <td>65.3</td>
      <td>27.677748</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>1.0</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>3.0</td>
    </tr>
  </tbody>
</table>
</div>

In [21]:
new_df[['new_bmi','Fall times in one year']].groupby(
    'new_bmi',as_index=False).mean().sort_values(by='new_bmi', ascending=False)

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>new_bmi</th>
      <th>Fall times in one year</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>4</th>
      <td>5.0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>3</th>
      <td>4.0</td>
      <td>0.214286</td>
    </tr>
    <tr>
      <th>2</th>
      <td>3.0</td>
      <td>0.147059</td>
    </tr>
    <tr>
      <th>1</th>
      <td>2.0</td>
      <td>0.296296</td>
    </tr>
    <tr>
      <th>0</th>
      <td>1.0</td>
      <td>0.000000</td>
    </tr>
  </tbody>
</table>
</div>

#### 身高和摔跤之间的关系

In [22]:
new_df.loc[((new_df['Height']>=140) & (new_df['Height']<150)),'new_height'] = 1
new_df.loc[((new_df['Height']>=150) & (new_df['Height']<160)),'new_height'] = 2
new_df.loc[(new_df['Height']>=160) & (new_df['Height']<170),'new_height'] = 3
new_df.loc[new_df['Height']>=170,'new_height'] = 4
new_df.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Sex</th>
      <th>Age</th>
      <th>Height</th>
      <th>Weight</th>
      <th>BMI</th>
      <th>Fall times in one year</th>
      <th>Aid by hand or not</th>
      <th>staircase_cross</th>
      <th>force_platform</th>
      <th>Bone fracture history</th>
      <th>Hypertension</th>
      <th>Osteoporosis</th>
      <th>Visual impairment unadjustable by lenses</th>
      <th>new_age</th>
      <th>new_height</th>
      <th>new_weight</th>
      <th>new_bmi</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>1</td>
      <td>69</td>
      <td>162.3</td>
      <td>83.6</td>
      <td>31.737246</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0.0</td>
      <td>1.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>1</td>
      <td>3</td>
      <td>0</td>
      <td>4.0</td>
    </tr>
    <tr>
      <th>1</th>
      <td>0</td>
      <td>81</td>
      <td>158.2</td>
      <td>57.7</td>
      <td>23.054879</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>1.0</td>
      <td>1.0</td>
      <td>1.0</td>
      <td>1.0</td>
      <td>2</td>
      <td>2</td>
      <td>0</td>
      <td>2.0</td>
    </tr>
    <tr>
      <th>2</th>
      <td>1</td>
      <td>72</td>
      <td>165.4</td>
      <td>66.4</td>
      <td>24.271525</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1.0</td>
      <td>1.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>3</td>
      <td>3</td>
      <td>0</td>
      <td>3.0</td>
    </tr>
    <tr>
      <th>3</th>
      <td>1</td>
      <td>74</td>
      <td>167.6</td>
      <td>61.5</td>
      <td>21.894099</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>1</td>
      <td>1.0</td>
      <td>1.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>3</td>
      <td>3</td>
      <td>0</td>
      <td>2.0</td>
    </tr>
    <tr>
      <th>4</th>
      <td>0</td>
      <td>69</td>
      <td>153.6</td>
      <td>65.3</td>
      <td>27.677748</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>1.0</td>
      <td>1</td>
      <td>2</td>
      <td>0</td>
      <td>3.0</td>
    </tr>
  </tbody>
</table>
</div>

* 身高在150-160之间容易摔跤

In [23]:
new_df[['new_height','Fall times in one year']].groupby(
    'new_height',as_index=False).mean().sort_values(by='new_height', ascending=False)

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>new_height</th>
      <th>Fall times in one year</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>3</th>
      <td>4</td>
      <td>0.100000</td>
    </tr>
    <tr>
      <th>2</th>
      <td>3</td>
      <td>0.187500</td>
    </tr>
    <tr>
      <th>1</th>
      <td>2</td>
      <td>0.320000</td>
    </tr>
    <tr>
      <th>0</th>
      <td>1</td>
      <td>0.076923</td>
    </tr>
  </tbody>
</table>
</div>

#### 体重和摔跤之间的关系

In [24]:
new_df.loc[new_df['Weight']<50,'new_weight'] = 0
new_df.loc[((new_df['Weight']>=50) & (new_df['Weight']<60)),'new_weight'] = 1
new_df.loc[((new_df['Weight']>=60) & (new_df['Weight']<70)),'new_weight'] = 2
new_df.loc[(new_df['Weight']>=70) & (new_df['Weight']<80),'new_weight'] = 3
new_df.loc[new_df['Weight']>=80,'new_weight'] = 4
new_df.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Sex</th>
      <th>Age</th>
      <th>Height</th>
      <th>Weight</th>
      <th>BMI</th>
      <th>Fall times in one year</th>
      <th>Aid by hand or not</th>
      <th>staircase_cross</th>
      <th>force_platform</th>
      <th>Bone fracture history</th>
      <th>Hypertension</th>
      <th>Osteoporosis</th>
      <th>Visual impairment unadjustable by lenses</th>
      <th>new_age</th>
      <th>new_height</th>
      <th>new_weight</th>
      <th>new_bmi</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>1</td>
      <td>69</td>
      <td>162.3</td>
      <td>83.6</td>
      <td>31.737246</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0.0</td>
      <td>1.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>1</td>
      <td>3</td>
      <td>4</td>
      <td>4.0</td>
    </tr>
    <tr>
      <th>1</th>
      <td>0</td>
      <td>81</td>
      <td>158.2</td>
      <td>57.7</td>
      <td>23.054879</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>1.0</td>
      <td>1.0</td>
      <td>1.0</td>
      <td>1.0</td>
      <td>2</td>
      <td>2</td>
      <td>1</td>
      <td>2.0</td>
    </tr>
    <tr>
      <th>2</th>
      <td>1</td>
      <td>72</td>
      <td>165.4</td>
      <td>66.4</td>
      <td>24.271525</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1.0</td>
      <td>1.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>3</td>
      <td>3</td>
      <td>2</td>
      <td>3.0</td>
    </tr>
    <tr>
      <th>3</th>
      <td>1</td>
      <td>74</td>
      <td>167.6</td>
      <td>61.5</td>
      <td>21.894099</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>1</td>
      <td>1.0</td>
      <td>1.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>3</td>
      <td>3</td>
      <td>2</td>
      <td>2.0</td>
    </tr>
    <tr>
      <th>4</th>
      <td>0</td>
      <td>69</td>
      <td>153.6</td>
      <td>65.3</td>
      <td>27.677748</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>1.0</td>
      <td>1</td>
      <td>2</td>
      <td>2</td>
      <td>3.0</td>
    </tr>
  </tbody>
</table>
</div>

体重和摔跤的规律十分明显，越轻的人越容易摔跤

In [25]:
new_df[['new_weight','Fall times in one year']].groupby(
    'new_weight',as_index=False).mean().sort_values(by='new_weight', ascending=False)

   new_weight  Fall times in one year
4           4                0.250000
3           3                0.240000
2           2                0.200000
1           1                0.166667
0           0                0.125000

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>new_weight</th>
      <th>Fall times in one year</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>4</th>
      <td>4</td>
      <td>0.125000</td>
    </tr>
    <tr>
      <th>3</th>
      <td>3</td>
      <td>0.166667</td>
    </tr>
    <tr>
      <th>2</th>
      <td>2</td>
      <td>0.200000</td>
    </tr>
    <tr>
      <th>1</th>
      <td>1</td>
      <td>0.240000</td>
    </tr>
    <tr>
      <th>0</th>
      <td>0</td>
      <td>0.250000</td>
    </tr>
  </tbody>
</table>
</div>

In [26]:
new_df[['new_weight','Age']].groupby(
    'new_weight',as_index=False).mean().sort_values(by='new_weight', ascending=False)

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>new_weight</th>
      <th>Age</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>4</th>
      <td>4</td>
      <td>69.750000</td>
    </tr>
    <tr>
      <th>3</th>
      <td>3</td>
      <td>68.055556</td>
    </tr>
    <tr>
      <th>2</th>
      <td>2</td>
      <td>67.200000</td>
    </tr>
    <tr>
      <th>1</th>
      <td>1</td>
      <td>68.880000</td>
    </tr>
    <tr>
      <th>0</th>
      <td>0</td>
      <td>78.250000</td>
    </tr>
  </tbody>
</table>
</div>

In [27]:
data_df

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Number</th>
      <th>Name</th>
      <th>Sex</th>
      <th>Age</th>
      <th>Height</th>
      <th>Weight</th>
      <th>BMI</th>
      <th>Fall times in one year</th>
      <th>Fall times in year 2015</th>
      <th>Fall date</th>
      <th>...</th>
      <th>10°.1</th>
      <th>10°.2</th>
      <th>15°</th>
      <th>15°.1</th>
      <th>15°.2</th>
      <th>High pressure</th>
      <th>Low pressure</th>
      <th>Heart rate</th>
      <th>staircase_cross</th>
      <th>force_platform</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>1</td>
      <td>liangzhengli</td>
      <td>Male</td>
      <td>69</td>
      <td>162.3</td>
      <td>83.60</td>
      <td>31.737246</td>
      <td>0</td>
      <td>1.0</td>
      <td>2014.12</td>
      <td>...</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>15.0-14.8</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>1</th>
      <td>2</td>
      <td>wenyanfang</td>
      <td>Female</td>
      <td>81</td>
      <td>158.2</td>
      <td>57.70</td>
      <td>23.054879</td>
      <td>1</td>
      <td>2.0</td>
      <td>2015.3;2014.8</td>
      <td>...</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>15.1</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>2</th>
      <td>3</td>
      <td>yangxijin</td>
      <td>Male</td>
      <td>72</td>
      <td>165.4</td>
      <td>66.40</td>
      <td>24.271525</td>
      <td>1</td>
      <td>2.0</td>
      <td>2015.3;2011.12</td>
      <td>...</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>15.0-14.9</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>3</th>
      <td>4</td>
      <td>hanwenshan</td>
      <td>Male</td>
      <td>74</td>
      <td>167.6</td>
      <td>61.50</td>
      <td>21.894099</td>
      <td>0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>...</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>15.1-15.1</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>4</th>
      <td>5</td>
      <td>hujiawei</td>
      <td>Female</td>
      <td>69</td>
      <td>153.6</td>
      <td>65.30</td>
      <td>27.677748</td>
      <td>0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>...</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>15.1-15.2</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>5</th>
      <td>6</td>
      <td>pengguizhu</td>
      <td>Female</td>
      <td>74</td>
      <td>149.3</td>
      <td>59.20</td>
      <td>26.558411</td>
      <td>0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>...</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>15.1-15.1</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>6</th>
      <td>7</td>
      <td>wangfulan</td>
      <td>Female</td>
      <td>76</td>
      <td>146.2</td>
      <td>55.00</td>
      <td>25.731668</td>
      <td>0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>...</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>15.0-15.1</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>1</td>
      <td>0</td>
    </tr>
    <tr>
      <th>7</th>
      <td>8</td>
      <td>yangwanlin</td>
      <td>Male</td>
      <td>74</td>
      <td>162.5</td>
      <td>65.00</td>
      <td>24.615385</td>
      <td>0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>...</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>15.1-15.1</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>1</td>
      <td>0</td>
    </tr>
    <tr>
      <th>8</th>
      <td>9</td>
      <td>baiyulin</td>
      <td>Male</td>
      <td>66</td>
      <td>164.8</td>
      <td>73.10</td>
      <td>26.915532</td>
      <td>0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>...</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>15.0-14.9</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>9</th>
      <td>10</td>
      <td>guodafa</td>
      <td>Male</td>
      <td>70</td>
      <td>166.6</td>
      <td>64.10</td>
      <td>23.094472</td>
      <td>0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>...</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>15.0-15.0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>10</th>
      <td>11</td>
      <td>jiashengpu</td>
      <td>Male</td>
      <td>63</td>
      <td>164.1</td>
      <td>65.90</td>
      <td>24.471932</td>
      <td>0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>...</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>14.9-15.1</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>11</th>
      <td>12</td>
      <td>lidee</td>
      <td>Female</td>
      <td>60</td>
      <td>156.9</td>
      <td>65.10</td>
      <td>26.444484</td>
      <td>1</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>...</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>14.9-</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>12</th>
      <td>13</td>
      <td>wangdeqin</td>
      <td>Female</td>
      <td>67</td>
      <td>151.1</td>
      <td>56.10</td>
      <td>24.571628</td>
      <td>0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>...</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>14.9-14.9</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>1</td>
      <td>0</td>
    </tr>
    <tr>
      <th>13</th>
      <td>14</td>
      <td>yangzongfen</td>
      <td>Female</td>
      <td>68</td>
      <td>154.0</td>
      <td>64.90</td>
      <td>27.365492</td>
      <td>0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>...</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>14.9-15.1</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>14</th>
      <td>15</td>
      <td>zhaojuan</td>
      <td>Female</td>
      <td>66</td>
      <td>164.7</td>
      <td>51.60</td>
      <td>19.022277</td>
      <td>0</td>
      <td>1.0</td>
      <td>2015.1</td>
      <td>...</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>14.9-15.0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>15</th>
      <td>16</td>
      <td>gengxiulin</td>
      <td>Male</td>
      <td>82</td>
      <td>155.2</td>
      <td>47.90</td>
      <td>19.886213</td>
      <td>0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>...</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>15.0-15.2</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>16</th>
      <td>17</td>
      <td>hanjianshe</td>
      <td>Male</td>
      <td>63</td>
      <td>162.8</td>
      <td>52.00</td>
      <td>19.619798</td>
      <td>0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>...</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>15.1-15.2</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>17</th>
      <td>18</td>
      <td>haoyubin</td>
      <td>Male</td>
      <td>64</td>
      <td>172.5</td>
      <td>70.90</td>
      <td>23.826927</td>
      <td>0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>...</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>18</th>
      <td>19</td>
      <td>lixiaoru</td>
      <td>Female</td>
      <td>73</td>
      <td>154.9</td>
      <td>74.30</td>
      <td>30.966062</td>
      <td>0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>...</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>15.1-</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>19</th>
      <td>20</td>
      <td>machunxia</td>
      <td>Female</td>
      <td>61</td>
      <td>155.7</td>
      <td>60.90</td>
      <td>25.121182</td>
      <td>0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>...</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>15.1-15.1</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>20</th>
      <td>21</td>
      <td>renweiyi</td>
      <td>Female</td>
      <td>70</td>
      <td>152.5</td>
      <td>63.80</td>
      <td>27.433486</td>
      <td>0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>...</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>15.1-15.2</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>21</th>
      <td>22</td>
      <td>sunshaohua</td>
      <td>Male</td>
      <td>80</td>
      <td>157.2</td>
      <td>59.20</td>
      <td>23.956128</td>
      <td>0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>...</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>14.9-14.9</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>1</td>
      <td>0</td>
    </tr>
    <tr>
      <th>22</th>
      <td>23</td>
      <td>xiangxu</td>
      <td>Female</td>
      <td>67</td>
      <td>153.8</td>
      <td>59.00</td>
      <td>24.942463</td>
      <td>1</td>
      <td>1.0</td>
      <td>2014.11</td>
      <td>...</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>23</th>
      <td>24</td>
      <td>lirenfan</td>
      <td>Female</td>
      <td>71</td>
      <td>167.3</td>
      <td>63.10</td>
      <td>22.544337</td>
      <td>1</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>...</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>24</th>
      <td>25</td>
      <td>lishuhau</td>
      <td>Female</td>
      <td>84</td>
      <td>148.0</td>
      <td>57.60</td>
      <td>26.296567</td>
      <td>0</td>
      <td>1.0</td>
      <td>2015.1</td>
      <td>...</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>25</th>
      <td>26</td>
      <td>wangchunling</td>
      <td>Female</td>
      <td>70</td>
      <td>161.9</td>
      <td>61.20</td>
      <td>23.348432</td>
      <td>1</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>...</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>15.0-15.1</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>26</th>
      <td>27</td>
      <td>tianguilin</td>
      <td>Female</td>
      <td>79</td>
      <td>148.3</td>
      <td>57.10</td>
      <td>25.962936</td>
      <td>0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>...</td>
      <td>10.3-10.3</td>
      <td>10.3-10.3</td>
      <td>15.0-15.1</td>
      <td>15.0-15.2</td>
      <td>15.0-15.2</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>27</th>
      <td>28</td>
      <td>wujinzhan</td>
      <td>Male</td>
      <td>78</td>
      <td>165.2</td>
      <td>79.40</td>
      <td>29.093798</td>
      <td>2</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>...</td>
      <td>10.1-9.8</td>
      <td>10.3-10.1</td>
      <td>15.1-15.1</td>
      <td>15.1-15.2</td>
      <td>15.1-15.0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>28</th>
      <td>29</td>
      <td>xieshuli</td>
      <td>Female</td>
      <td>54</td>
      <td>148.2</td>
      <td>55.40</td>
      <td>25.223965</td>
      <td>0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>...</td>
      <td>10.2-10.2</td>
      <td>10.2-10.2</td>
      <td>15.1-15.1</td>
      <td>15.1-15.3</td>
      <td>15.2-15.2</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>29</th>
      <td>29</td>
      <td>xuxiuyun</td>
      <td>Female</td>
      <td>66</td>
      <td>156.5</td>
      <td>54.50</td>
      <td>22.251937</td>
      <td>0</td>
      <td>1.0</td>
      <td>2014.6</td>
      <td>...</td>
      <td>10.0-10.0</td>
      <td>10.0-10.0</td>
      <td>15.0-15.0</td>
      <td>15.0-15.0</td>
      <td>15.1-15.1</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>...</th>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
    </tr>
    <tr>
      <th>50</th>
      <td>51</td>
      <td>wangjianmin</td>
      <td>Male</td>
      <td>69</td>
      <td>170.5</td>
      <td>119.28</td>
      <td>41.031639</td>
      <td>0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>...</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>15.0-15.5</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>51</th>
      <td>52</td>
      <td>zhangzhundao</td>
      <td>Male</td>
      <td>68</td>
      <td>168.5</td>
      <td>75.90</td>
      <td>26.732647</td>
      <td>0</td>
      <td>0.0</td>
      <td>NaN</td>
      <td>...</td>
      <td>10.3-10.5</td>
      <td>10.3-10.5</td>
      <td>15.0-15.1</td>
      <td>15.0-15.1</td>
      <td>15.0-14.9</td>
      <td>111.0</td>
      <td>73.0</td>
      <td>67.0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>52</th>
      <td>53</td>
      <td>aizhenjiang</td>
      <td>Male</td>
      <td>64</td>
      <td>162.2</td>
      <td>56.50</td>
      <td>21.475671</td>
      <td>0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>...</td>
      <td>10.1-10.1</td>
      <td>10.1-10.1</td>
      <td>15.1-15.1</td>
      <td>15.2-15.1</td>
      <td>15.2-15.2</td>
      <td>118.0</td>
      <td>72.0</td>
      <td>81.0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>53</th>
      <td>54</td>
      <td>lijinjin</td>
      <td>Female</td>
      <td>71</td>
      <td>166.2</td>
      <td>71.40</td>
      <td>25.848549</td>
      <td>0</td>
      <td>1.0</td>
      <td>2014.5</td>
      <td>...</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>15.0-15.2</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>122.0</td>
      <td>78.0</td>
      <td>68.0</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>54</th>
      <td>55</td>
      <td>wangzhining</td>
      <td>Male</td>
      <td>73</td>
      <td>168.1</td>
      <td>52.60</td>
      <td>18.614455</td>
      <td>0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>...</td>
      <td>10.2-10.3</td>
      <td>10.2-10.3</td>
      <td>15.0-15.0</td>
      <td>15.0-15.0</td>
      <td>15.0-15.0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>55</th>
      <td>56</td>
      <td>wangjiuhong</td>
      <td>Male</td>
      <td>61</td>
      <td>173.9</td>
      <td>72.40</td>
      <td>23.940841</td>
      <td>0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>...</td>
      <td>10.2-10.3</td>
      <td>10.3-10.4</td>
      <td>15.0-15.3</td>
      <td>15.1-15.1</td>
      <td>15.1-15.2</td>
      <td>130.0</td>
      <td>78.0</td>
      <td>76.0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>56</th>
      <td>57</td>
      <td>maguicheng</td>
      <td>Male</td>
      <td>59</td>
      <td>165.7</td>
      <td>61.90</td>
      <td>22.544761</td>
      <td>0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>...</td>
      <td>10.1-10.2</td>
      <td>10.2-10.2</td>
      <td>15.1-15.4</td>
      <td>15.4-15.4</td>
      <td>15.4-15.5</td>
      <td>155.0</td>
      <td>86.0</td>
      <td>59.0</td>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>57</th>
      <td>58</td>
      <td>liwenlong</td>
      <td>Male</td>
      <td>65</td>
      <td>170.0</td>
      <td>74.20</td>
      <td>25.674740</td>
      <td>0</td>
      <td>1.0</td>
      <td>2014.5</td>
      <td>...</td>
      <td>10.3-10.4</td>
      <td>10.3-10.4</td>
      <td>15.1-15.2</td>
      <td>15.1-15.2</td>
      <td>15.0-15.1</td>
      <td>128.0</td>
      <td>82.0</td>
      <td>81.0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>58</th>
      <td>59</td>
      <td>zhangzuowen</td>
      <td>Male</td>
      <td>67</td>
      <td>166.7</td>
      <td>73.60</td>
      <td>26.485405</td>
      <td>0</td>
      <td>1.0</td>
      <td>2015.3</td>
      <td>...</td>
      <td>10.0-10.0</td>
      <td>10.0-10.1</td>
      <td>15.0-15.1</td>
      <td>15.0-15.2</td>
      <td>15.0-15.1</td>
      <td>182.0</td>
      <td>102.0</td>
      <td>78.0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>59</th>
      <td>60</td>
      <td>zongkeqin</td>
      <td>Female</td>
      <td>65</td>
      <td>160.1</td>
      <td>56.50</td>
      <td>22.042750</td>
      <td>0</td>
      <td>1.0</td>
      <td>2014.7</td>
      <td>...</td>
      <td>10.1-10.1</td>
      <td>10.1-10.2</td>
      <td>15.0-15.2</td>
      <td>15.1-15.1</td>
      <td>15.1-15.1</td>
      <td>130.0</td>
      <td>82.0</td>
      <td>71.0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>60</th>
      <td>61</td>
      <td>pengruiying</td>
      <td>Female</td>
      <td>65</td>
      <td>151.0</td>
      <td>57.00</td>
      <td>24.998904</td>
      <td>0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>...</td>
      <td>10.1-10.2</td>

## 综上分析
选取的特征有
1. Aid by hand or not是否需要手抚
2. staircase_cross上楼梯时的交叉腿
3. force_platform力平台是否交叉
4. new_age年龄
5. new_weight体重
6. Bone fracture history
7. Hypertension
8. Osteoporosis
9. Visual impairment unadjustable by lenses
10. 性别

In [28]:
new_df = new_df.drop(['Height','Weight','Age','BMI',
                      'new_height','new_bmi'],axis=1)

保存数据

In [29]:
new_df.to_csv('./data/new_data.csv')

In [30]:
new_df.describe()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Sex</th>
      <th>Fall times in one year</th>
      <th>Aid by hand or not</th>
      <th>staircase_cross</th>
      <th>force_platform</th>
      <th>Bone fracture history</th>
      <th>Hypertension</th>
      <th>Osteoporosis</th>
      <th>Visual impairment unadjustable by lenses</th>
      <th>new_age</th>
      <th>new_weight</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>count</th>
      <td>80.000000</td>
      <td>80.000000</td>
      <td>80.000000</td>
      <td>80.000000</td>
      <td>80.000000</td>
      <td>80.000000</td>
      <td>80.000000</td>
      <td>80.00000</td>
      <td>80.000000</td>
      <td>80.000000</td>
      <td>80.000000</td>
    </tr>
    <tr>
      <th>mean</th>
      <td>0.425000</td>
      <td>0.200000</td>
      <td>0.112500</td>
      <td>0.200000</td>
      <td>0.262500</td>
      <td>0.287500</td>
      <td>0.475000</td>
      <td>0.33750</td>
      <td>0.200000</td>
      <td>1.662500</td>
      <td>2.012500</td>
    </tr>
    <tr>
      <th>std</th>
      <td>0.497462</td>
      <td>0.513119</td>
      <td>0.317974</td>
      <td>0.402524</td>
      <td>0.442769</td>
      <td>0.455452</td>
      <td>0.502525</td>
      <td>0.47584</td>
      <td>0.402524</td>
      <td>0.980103</td>
      <td>1.073192</td>
    </tr>
    <tr>
      <th>min</th>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.00000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>25%</th>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.00000</td>
      <td>0.000000</td>
      <td>1.000000</td>
      <td>1.000000</td>
    </tr>
    <tr>
      <th>50%</th>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.00000</td>
      <td>0.000000</td>
      <td>1.000000</td>
      <td>2.000000</td>
    </tr>
    <tr>
      <th>75%</th>
      <td>1.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>1.000000</td>
      <td>1.000000</td>
      <td>1.000000</td>
      <td>1.00000</td>
      <td>0.000000</td>
      <td>3.000000</td>
      <td>3.000000</td>
    </tr>
    <tr>
      <th>max</th>
      <td>1.000000</td>
      <td>3.000000</td>
      <td>1.000000</td>
      <td>1.000000</td>
      <td>1.000000</td>
      <td>1.000000</td>
      <td>1.000000</td>
      <td>1.00000</td>
      <td>1.000000</td>
      <td>3.000000</td>
      <td>4.000000</td>
    </tr>
  </tbody>
</table>
</div>